.title-show {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.name-brand-fav {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name-show {
  font-size: 30px;
  font-weight:bold;
}

.team-score {
  line-height:5px;
  margin-right:25px;
}

.consumer-score {
  line-height:5px;
  margin-left:25px;
}

.overall-score-container {
  display:flex;
}

.no-reviews-message {
  color: grey;
}

.score-container {
  display:flex;
  align-items: baseline;
}

.score-number {
  margin-left:5px;
  font-size:13px;
  color:grey;
}

.score-stars {
  letter-spacing: -1px;
}


