<div class="navbar">
  <div>
    <a href="/" class="title-navbar">a brand <strong>a score</strong></a>
  </div>
  <div class="navbar-links">
    <a href="" class="navbar-elements"><i class="fas fa-search"></i></a>
    <a href="" class="navbar-elements"><i class="far fa-heart"></i></a>
    <a href="" class="navbar-elements">BRANDS</a>
    <a href="" class="navbar-elements">HOW WE RATE?</a>
    <img class="avatar navbar-elements" src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" />
  </div>
</div>
