

<div class="home-container">


<h2 class="home-subtitle">Find out score brands for an eco-friendly and qualitative wardrobe</h2>

<br>

<form>
  <div class="form-inline justify-content-center">
      <input type="email" class="form-control"  placeholder="Type brand name...">
      <button type="submit" class="green-btn">Submit</button>
  </div>
</form>


<br>

<h3>Search by category</h3>

<div class="container-home-img">
  <div>
    <div class="card-homepage clothing" style="background-image: url(https://i.pinimg.com/564x/2d/65/7d/2d657d24ed3e3935a2fdeff439e40d02.jpg)">
      Clothing
    </div>
  </div>
  <div>
    <div class="card-homepage shoes" style="background-image: url(https://i.pinimg.com/564x/2d/65/7d/2d657d24ed3e3935a2fdeff439e40d02.jpg)">
      Shoes
    </div>
    <div class="card-homepage sportswear" style="background-image: url(https://i.pinimg.com/564x/2d/65/7d/2d657d24ed3e3935a2fdeff439e40d02.jpg)">
      Sportswear
    </div>
  </div>
  <div>
    <div class="card-homepage accessories" style="background-image: url(https://i.pinimg.com/564x/2d/65/7d/2d657d24ed3e3935a2fdeff439e40d02.jpg)">
      Accessories
    </div>
    <div class="card-homepage underwear" style="background-image: url(https://i.pinimg.com/564x/2d/65/7d/2d657d24ed3e3935a2fdeff439e40d02.jpg)">
      Underwear
    </div>
  </div>
</div>


</div>
