<div class="home-container">

  <h3 class="brand-name">Discover how we rate brands</h3>
  <br>

  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none; color: #C4632B;">
          <div class="chevron-down">
            <b>Overall Score</b><i class="fas fa-chevron-down"></i>
          </div>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        A brand overall score is the <b>average</b> between <b>quality</b> score, <b>social</b> score and <b>environmental</b> score.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none; color: #C4632B;">
          <div class="chevron-down">
            <b>Quality Score</b><i class="fas fa-chevron-down"></i>
          </div>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Brand quality scores are from iGraal website. Quality score is the average between cashback experience, price/quality ratio, promotion, delivery time and after-sales service.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none; color: #C4632B;">
          <div class="chevron-down">
            <b>Social Score</b>
            <i class="fas fa-chevron-down"></i>
          </div>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Social score is based on the <b>Fashion Transparency Index 2020</b>.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none; color: #C4632B;">
          <div class="chevron-down">
            <b>Environmental Score</b><i class="fas fa-chevron-down"></i>
          </div>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Environmental score is based on the <b>Fashion Transparency Index 2020</b>.
      </div>
    </div>
  </div>
</div>

</div>
