#sadness-bar {
  width: 1%;
  background-color: yellow;
  height: 15px;
}

#sadness-bar {
  width: 1%;
  background-color: green;
  height: 15px;
}

#sadness-bar {
  width: 1%;
  background-color: blue;
  height: 15px;
}

#sadness-bar {
  width: 1%;
  background-color: orange;
  height: 15px;
}

#anger-bar {
  width: 1%;
  height: 15px;
  background-color: red;
}
