.card-homepage {
  background-size: cover;
  background-position: center;
  color:white;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;

  &:hover {
    opacity: 0.8;
    transition: 1s;
  }

  a {
    color:white;
  }

  a:hover {
    color:white;
  }
}

.sentiment-card {
  width: 400px;
  box-shadow: 0 0 10px grey;
  padding: 20px;
  margin: 20px;
  border-radius: 1em;
}

.sentiment-card-content {
  display: flex;
  justify-content: space-between;
}

.sentiment-bar {
  margin: 20px;
}
