.card-homepage {
  background-size: cover;
  background-position: center;
  color:white;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;

  &:hover {
    opacity: 0.8;
    transition: 1s;
  }
}
