.container-page {
  width: 800px;
  padding-top:35px;
  margin: 0 auto;
}

.container-log {
  width: 500px;
  padding-top:35px;
  margin: 0 auto;
}

.container-show {
  width: 1000px;
  padding-top:35px;
  margin: 0 auto;
}

.favorites-button {
  margin-left:10px;
}

.tab-container {
  display: flex;
  justify-content: space-evenly;
}

.tab-container-about {
  display: flex;
  justify-content: center;

}

.tab-container-about p {
  margin-right: 30px;
  margin-left: 30px;
}

.container-index {
  width: 1145px;
  padding-top:35px;
  margin: 0 auto;
}

.container-tags {
  display: flex;
  flex-wrap: wrap;
}
