.container-page {
  width: 800px;
  padding-top:35px;
  margin: 0 auto;
}

.favorites-button {
  margin-left:10px;
}

.container-index {
  width: 1145px;
  padding-top:35px;
  margin: 0 auto;
}

.container-tags {
  display: flex;
  flex-wrap: wrap;
}
