// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration:none !important;
  color: $brown;

  &:hover {
    color:$brown;
    opacity:0.8;
  }
}

h1,h3 {
  color: $darkgreen;
}

body {
  background-color: $beige;
}

.body-container {
  min-height:78vh;
}


