// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

$nav-tabs-link-hover-color: green;
$nav-tabs-link-hover-border-color: green green green;
$nav-tabs-link-active-bg: $green;
$nav-tabs-link-active-color:        $white;
$nav-tabs-border-width: 2px;
$nav-tabs-border-radius:  0.7em;

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "brands/index";
@import "favorites/my-favorites";

a {
  text-decoration:none !important;
  color: $darkgreen;

  &:hover {
    color:$darkgreen;
    opacity:0.8;
  }
}

h1,h3 {
  color: $darkgreen;
}

body {
  background-color: $white;
  color: #282828;
}

.body-container {
  min-height:78vh;
}

.slick-prev:before, .slick-next:before {
  color: $darkgreen !important;
}

